*{
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {


}

body{
    background-color: #999999;
    font-family: Trebuchet MS, Helvetica;
}


.header{
    
}
.logo{

}
.logo img{
display: block;
    margin-left: auto;
    margin-right: auto;
}

/* меню */
/*Strip the ul of padding and list styling */
.about{
    width: 980px;
height: 50px;
margin:auto;
background: #2f3036;
text-align: center;
}

ul {
    
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    position: absolute;
    min-width: 981px;
}

/* Creates a horizontal list with spacing*/

li {
  display: inline-block;
    
  float: left;
  margin-right: 1px;
}

/*Style for menu links */

li a {
  display: block;
  min-width: 326px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2f3036;
  background: #ffffff;
  text-decoration: none; 
  
}

/* Hover State for top level links*/

li:hover a {
  background: #fe974e;
}

/* Style for dropdown links*/

li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/* Hover state for dropdown links */ 
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

/*Hide dropdown links until they are need */
li ul {
  display: none;
}

/*Make dropdown links vertical */

li ul li {
  display: block; 
  float: none; 
}

/*Prevent text wrapping */
li ul li a {
  width: auto; 
  min-width: 100px; 
  padding: 0 20px; 
}

/*Display the dropdown on hover */
ul li a:hover + .hidden, .hidden:hover {
  display: block; 
}
/* Контент банер начало*/
.baner {
    position: relative;
text-align: center;
    margin-top: auto;
}
/* Контент */
.contacts{
    width: 980px;
height: 100%;
margin:auto;
background: #ffffff;
}
.text {
    text-align: center;
}
