*{
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {


}

body{
    background-color: #999999;
    font-family: Trebuchet MS, Helvetica;
}


.header{
    
}
.logo{

}
.logo img{
display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* меню */
/*Strip the ul of padding and list styling */
.about{
    width: 980px;
height: 50px;
margin:auto;
background: #2f3036;
text-align: center;
}

ul {
    
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    position: absolute;
    min-width: 981px;
}

/* Creates a horizontal list with spacing*/

li {
  display: inline-block;
    
  float: left;
  margin-right: 1px;
}

/*Style for menu links */

li a {
  display: block;
  min-width: 326px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2f3036;
  background: #ffffff;
  text-decoration: none; 
  
}

/* Hover State for top level links*/

li:hover a {
  background: #fe974e;
}

/* Style for dropdown links*/

li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/* Hover state for dropdown links */ 
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

/*Hide dropdown links until they are need */
li ul {
  display: none;
}

/*Make dropdown links vertical */

li ul li {
  display: block; 
  float: none; 
}

/*Prevent text wrapping */
li ul li a {
  width: auto; 
  min-width: 100px; 
  padding: 0 20px; 
}

/*Display the dropdown on hover */
ul li a:hover + .hidden, .hidden:hover {
  display: block; 
}
/* Контент банер начало*/
.baner {
    position: relative;
text-align: center;
    margin-top: auto;
}
h1 {
    position: absolute;
    color: #edb03a;
	top: 150px;
	left: 0;
	width: 100%;
    
    
}
h2 {
    position: absolute;
    color: #ffffff;
	top: 200px;
	left: 0;
	width: 100%;
    
}
/* Контент банер конец*/
/* Меню с новостями и товаром начало*/
.knopki{
width: 980px;
height: 60px;
margin:auto;
background: #52656b;
}
.knopki img {
margin-left: 15px;
margin-top: 5px;
}
.name{
position: absolute;
margin-top: 10px;
margin-left: 405px;
font-size: 30px;
color: #fedf1f;
}
/* Меню с новостями и товаром конец*/
/* Товар начало */
.tovars{
    width: 980px;
height: 100%;
margin:auto;
background: #ffffff;
}
/*первый товар*/
.tovar1{
position: absolute;
width: 756px;
height: auto;
margin-top: 30px;
margin-left: 125px;
border: 5px solid #7b7b7b; /* Параметры границы */
background: #ffffff;   
}
.content img { width:125px; transition:width 0.5s ease; }
.content:hover img { width:180px; }
.nazvanie{
position: absolute;
width: 100%;
height: 32px;
border-bottom: 3px solid silver; /* Параметры границы */
background: #ffffff;   
}
.nazvanie p{
margin: 3px;
font-family: "Franklin Gothic Medium";
font-weight: bold;
font-size: 20px
}
.content p{
font-weight: bold;
margin-top: 45px;
margin-left: 10px;
margin-right: 10px;
}

.buy{
margin-bottom: 10px;
margin-right: 23px;
float: right;
font-weight: bold;
}
/*кнопка покупки товара*/
a.button {
  margin-top: 0 auto;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .5em 1em calc(.5em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button:hover { background: rgb(53, 167, 110); }
a.button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
/*конец товара*/
/*второй товар*/
.tovar2{
position: absolute;
width: 756px;
height: auto;
margin-top: 245px;
margin-left: 125px;
border: 5px solid #7b7b7b; /* Параметры границы */
background: #ffffff;   
}
/*конец товара*/
/* Товар конец */